.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding-top: 45px;
  padding-bottom: 41px;
}

.header-button-list {
  display: flex;
  gap: 15px;
  align-items: center;
}
