.instagram-photo {
    display: flex;
    align-items: center;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.instagram-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

.instagram-img {
    width: 25%;
}

.instagram-item {
    width: 100%;
    height: 100%;
}

.plus-ikon {
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0;
    bottom: 0; */
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.plus-img {
    width: 35px;
    height: 35px;
}

.img-inst {
    position: relative;
    height: 450px;
}

.img-inst:hover .plus-ikon {
    opacity: 1;
}